.urbanist-200 {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.urbanist-300 {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.urbanist-400 {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.pacifico {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: #f6f5f5;
}

.card {
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 0;
}

.card-body {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-body a {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.card-body a:hover {
  background-color: #464196;
  color: rgb(255, 255, 255, 0.9) !important;
}

.card .berry {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 16px;
  left: 16px;
}

.card img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card .badge {
  position: absolute;
  top: 15px;
  right: 15px;
}

.nav-link {
  position: relative;
}

.nav-link::before {
  position: absolute;
  content: "";
  width: calc(100% - 10px);
  height: 3px;
  background: #464196;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

@media screen and (min-width: 1024px) {
  .card-img-wrapper {
    padding: 40px;
  }

  .nav-link.active::before,
  .nav-link:hover::before {
    visibility: visible;
    opacity: 1;
  }
}
